.coinIcon {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.coinParent {
  position: absolute;
  top: 74px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.white_carIcon {
  position: absolute;
  top: 255px;
  left: calc(50% - 159.5px);
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.swipeToPurchase {
  position: absolute;
  top: 641px;
  left: calc(50% - 61.715px);
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}
.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #6f6f6f;
  width: 80px;
  height: 60px;
}
.b {
  position: absolute;
  top: 19px;
  left: 24px;
  line-height: 22px;
}
.purchase1Child {
  position: absolute;
  top: 673px;
  left: 50%; /* 중앙 정렬 */
  transform: translateX(-50%); /* X축 기준으로 가운데 정렬 */
  background-color: #fff;
  width: 320px;
  height: 60px;
}

.rectangleParent {
  position: absolute;
  cursor: grab;
  width: 80px;
  height: 60px;
  font-size: 20px;
  z-index: 10;
  transition: none;
}

.rectangleParent.smooth {
  transition: left 0.5s ease, top 0.5s ease;
}

.rectangleParent:active {
  cursor: grabbing;
}

.purchase1 {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: 17px;
  color: #fff;
  font-family: "SF Pro";
}
