.coinFlipPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow: hidden; /* 페이지에서 스크롤바 방지 */
}

.welcomeMessage {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 80%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.resultContainer {
  position: absolute;
  top: 25%; /* 비디오와 충돌하지 않도록 충분히 위로 올림 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 화면의 전체 너비 */
  height: auto; /* 높이 자동 조정 */
  z-index: 2; /* 비디오 위에 표시되도록 z-index 설정 */
}

.resultImage {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  position: absolute;
  bottom: 20%; /* 페이지 하단에 버튼 위치 고정 */
}

.videoPlayer {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
}

.playButton {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(90deg, #ffd700, #ff8c00);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 15px rgba(255, 140, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.playButton:hover {
  background: linear-gradient(90deg, #ff8c00, #ffd700);
  box-shadow: 0px 6px 20px rgba(255, 140, 0, 0.7);
  transform: scale(1.1);
}

.playButton:active {
  transform: scale(1);
}

.disabledButton {
  background: #aaa;
  box-shadow: none;
  cursor: not-allowed;
}
